<div class="calendario">
    <div class="calendario-titulo">
        <div>
            <button (click)="alterarMes(-1)"><</button>
        </div>
        <div class="calendario-titulo-mes-ano">{{dataAtual | date : 'MMM yyyy'}}</div>
        <div>
            <button (click)="alterarMes(+1)">></button>
        </div>
    </div>
    <div class="calendario-dias-semana">
        <p>D</p>
        <p>S</p>
        <p>T</p>
        <p>Q</p>
        <p>Q</p>
        <p>S</p>
        <p>S</p>
    </div>
    <div class="calendario-dias">
        @for (dia of diasCalendario; track $index) {
            <div
            class="calendario-dia"
            [class.calendario-quebrar-linha]="$index % 7 === 0"
            [class.calendario-dia-nao-faz-parte-mes-atual]="dataAtual.getMonth() !== dia.getMonth()">
            {{dia | date : 'dd'}}
            </div>
        }
    </div>
</div>
