<div class="container">
    <header>
        <div class="box-titulo">
            <p class="titulo">Bom dia, Paula</p>
            <p class="data">Quarta-feira, 07 de outubro de 2026</p>
        </div>
        <button class="notification-btn">
            <img class="img-padrao" src="notification-green.svg" alt="Notificações">
            <img class="img-hover" src="notification.svg" alt="">
            <img class="img-active" src="notification-green.svg" alt="">
        </button>
    </header>
    <main>
        <section class="cards">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <section class="statistics">
            <div class="shedule-data">
                <div></div>
            </div>
            <div class="info">
                <div></div>
                <div></div>
            </div>
        </section>
    </main>
</div>