<div class="overlay">
<div class="container">
    <div class="titulo">
        <section>
            <h3>Novo Agendamento</h3>
            <p>Preencha os campos para realizar um novo agendamento.</p>
        </section>
    </div>
    <div class="cliente">
        <b><p>Nome do cliente</p></b>
        <input type="text">
    </div>
    <div class="servico">
        <b><p>Serviço à fazer</p></b>
        <input type="search">
    </div>
    <div class="data">
        <b><p>Data do agendamento</p></b>
        <input type="date">
    </div>
    <div class="hora-inicio">
        <b><p>Horario de inicio</p></b>
        <input type="datetime">
    </div>
    <div class="observacao">
        <b><p>Observação (opcional)</p></b>
        <textarea name="" id=""></textarea>
    </div>
    <div class="foot-btn">
        <button (click)="onCancelar()" class="cancel" type="submit">Cancelar</button>
        <button (click)="onSalvar()" class="save" type="submit">Salvar</button>
    </div>
    </div>
</div>
