<div class="container">
    <div class="titulo">
        <section>
            <h3>Novo Agendamento</h3>
            <p>Preencha os campos para realizar um novo agendamento.</p>
        </section>
    </div>
    <div class="cliente">
        <b><p>Nome do cliente</p></b>
        <input type="text">
    </div>
    <div class="servico">
        <p>Serviço à fazer</p>
        <input type="search">
    </div>
    <div class="data">
        <p>Data do agendamento</p>
        <input type="date">
    </div>
    <div class="hora-inicio">
        <p>Horario de inicio</p>
        <input type="datetime">
    </div>
    <div class="observacao">
        <p>Observação (opcional)</p>
        <input type="text">
    </div>
    <div class="foot-btn">
        <button class="cancel" type="submit">Cancelar</button>
        <button class="save" type="submit">Salvar</button>
    </div>
</div>
