<div class="container">
    <main>
        <header>
            <p>Agenda</p>
            <div class="header-btn">
                <button class="notification-btn">
                    <img class="img-padrao" src="notification-green.svg" alt="Notificações">
                    <img class="img-hover" src="notification.svg" alt="">
                    <img class="img-active" src="notification-green.svg" alt="">
                </button>
                <button (click)="abrirFormulario()" class="agendamento-btn" type="submit">Novo Agendamento</button>
            </div>
        </header>
        <div class="agendamento">
            <section class="agendamento-agenda">
                <div class="agenda">
                    <div class="head">
                        @for (dia of diasAgenda; track $index) {
                                <span>{{diasSemana.at(dia.getDay())}}, {{dia | date: 'dd'}}</span>
                            }
                    </div>     
                    <div class="body">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </section>
            <section class="agendamento-calendar">
                <app-calendario/>
            </section>
        </div>
    </main>
    @if (mostrarFormulario) {
        <app-novo-agendamento
            (cancelar)="fecharFormulario()"
            (salvar)="fecharFormulario()" />
    }
</div>



