<div class="container">
    <app-navbar/>
    <main>
        <header>
            <p>Agenda</p>
            <div class="header-btn">
                <button class="notification-btn"><img src="notification-green.svg" alt="Notificações"></button>
                <button class="agendamento-btn" type="submit"><p>Novo Agendamento</p></button>
            </div>
        </header>
        <div class="agendamento">
            <section class="agendamento-agenda">
                <table class="agenda">
                    <thead>
                        <tr>
                            @for (dia of diasAgenda; track $index) {
                                <th>{{diasSemana.at(dia.getDay())}}, {{dia | date: 'dd'}}</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="agendamento-calendar">
                <app-calendario/>
            </section>
        </div>
    </main>
    <div class="forms">
        <app-novo-agendamento/>
    </div>
</div>



