.container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    width: 83vw;
    min-height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
}

header p {
    font-family: 'Montserrat';
    font-size: 30px;
    margin-left: 20px;
}

.header-btn {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.agendamento-btn {
    background-color: #1C3112;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid;
    color: white;
    transition: 0.1s ease-out;
}

.agendamento-btn:hover {
    background-color: white;
    border: 1px solid;
    border-color: #1C3112;
    color: #1C3112;
}

.agendamento-btn p {
    font-size: 15px;
    margin: 5px 10px 5px 10px;
}

.notification-btn {
    border-style: hidden;
    background-color: transparent;
    cursor: pointer;
}

.header-btn button img {
    height: 25px;
    width: 25px;
}

.agendamento {
    display: flex;
    height: 90%;
    width: 100%;
}

.agendamento-agenda {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #f0f0f0;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    width: 75%;
    min-height: 95%;
}

.agendamento-calendar {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #f0f0f0;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    width: 25%;
    min-height: 95%;
}

.agenda {
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
    font-family: 'Montserrat';
    border-collapse: separate;
    border-spacing: 1px;
    border: 2px solid #1C3112;
    border-radius: 7px;
}

.agenda th {
    border: 1px solid #f0f0f0;
    padding: 2px;
    font-size: 13px;
    font-weight: 500;
}

.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 20%;
    z-index: 1000;
    position: absolute;
}