<div class="container">
    <app-navbar/>
    <main>
        <header>
            <p>Agenda</p>
            <div class="header-btn">
                <button class="notification-btn"><img src="notification-green.svg" alt="Notificações"></button>
                <button class="agendamento-btn" type="submit"><p>Novo Agendamento</p></button>
            </div>
        </header>
        <div class="agendamento">
            <section class="agendamento-agenda">
                <table class="agenda">
                    <thead>
                        <tr>
                            <th>Dom, 27</th>
                            <th>Seg, 28</th>
                            <th>Ter, 29</th>
                            <th>Qua, 30</th>
                            <th>Qui, 01</th>
                            <th>Sex, 02</th>
                            <th>Sáb, 03</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="agendamento-calendar">
                <app-calendario/>
            </section>
        </div>
    </main>
</div>


