<div class="container">
    <header>
        <div class="titulo">
            <p>Financeiro / Caixa</p>
        </div>
        <div class="header-btns">
            <input type="text">
            <button class="notification-btn">
                    <img class="img-padrao" src="notification-green.svg" alt="Notificações">
                    <img class="img-hover" src="notification.svg" alt="">
                    <img class="img-active" src="notification-green.svg" alt="">
            </button>
        </div>
    </header>
</div>
